
.footer-section {
  margin-top: 2%;
  margin-bottom: 0%;
  padding-top: 2%;
  padding-bottom: 1%;
  background-color: #000;
  padding-right: 1%;
  padding-left: 1%;
}

.w-webflow-badge{
  display: none !important;
}
